
<style>
    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
        #intro {
            margin-top: -58.59px;
            height: 50vh !important;
        }
    }

    .navbar .nav-link {
        color: #fff !important;
    }
</style>

<app-header></app-header>

<!--Main-->
<main style="background-color: rgb(255, 255, 255);">
    
    <div class="container" style="background-color: rgb(243, 242, 237);" id="contactanos">
        <div >
            <p style="font-size: 45px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
            class="p-4 text-center">
            <strong>Nuestra experiencia en la industria le permitirá encontrar el puesto o la persona adecuada en el cambiante mundo digital</strong>
            </p>
        </div>
        <!--Section: Content-->
        <div class="d-flex justify-content-center">
            <img src="https://i.ibb.co/GcZRGvS/consejos-reclutamiento-y-seleccion-2.png" alt="consejos-reclutamiento-y-seleccion-2" border="0">
        </div>
        <!--Section: Content-->        
    </div>
</main>
<!--Main-->

<!--Footer-->
<footer class="bg-light text-lg-start">
    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p style="font-size: large;">Síguenos en nuestras Redes Sociales</p>
        <a style="background-color: rgba(0, 172, 233, 1);" href="https://www.facebook.com/" class="btn btn-primary m-1"
            role="button" rel="nofollow" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a style="background-color: rgb(11, 160, 18);"
            href="https://api.whatsapp.com/send?phone=+51967887020&text=Hola,%20deseo%20saber%20más%20de%20sus%20servicios."
            class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a style="background-color: rgb(105, 168, 219);"
            href="https://www.linkedin.com/company/corporativa-grafimar/about/?viewAsMember=true"
            class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(61, 139, 202, 0.8); color: white">
        © 2021 Copyright:
        <a class="text-white" style="color: white;" href="https://corporativagrafimar.com/"><strong>4Data Recruitment &
                Selection</strong></a>
    </div>
    <!-- Copyright -->
</footer>