<!--Main Navigation-->
<header>
    <style>
        /* Height for devices larger than 576px */
        @media (min-width: 992px) {
            #intro {
                margin-top: -58.59px;
                height: 50vh !important;
            }
        }

        .navbar .nav-link {
            color: #fff !important;
        }
    </style>

    
</header>

<app-header></app-header>
<main class="mt-0" style="background-color: rgb(255, 255, 255);">
    <div class="container " style="background-color: rgb(243, 242, 237);">
        <!--Section: Content-->
        <section class="mb-5" style="padding-top: 3%;">
            <p style="font-size: 45px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
                class="mb-5 text-center">
                <strong>REGISTRO DE POSTULANTES</strong>
            </p>
        </section>
        <div class="row mb-4 " style="background-color: rgb(246, 138, 34);">
            <div class="col-6 d-flex justify-content-start ">
                <p class="mb-0 p-1 fw-bolder text-light">Registro de Profesionales</p>
            </div>
            <div class="col-6 d-flex justify-content-end ">
                <p class="mb-0 p-1 fw-bolder text-light">¿Ya estás registrado? <a class="blue" href="/">Iniciar
                        sesión</a></p>
            </div>
        </div>

        <form [formGroup]="postulanteForm" (ngSubmit)="agregarPostulante()" 
            enctype="multipart/form-data">
                <div class="row mb-4">
                    <p style="font-size: 24px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
                        class="mb-0 text-center">
                        <strong>DATOS PERSONALES</strong>
                    </p>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Correo Electrónico</p>
                </div>
                <div class="form-outline  mb-2 form-group label-floating">
                    <input type="email" formControlName="direcc_email" class="form-control" />
                    <label class="form-label" for="form3Example1">usuario@ejemplo.com</label>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('direcc_email')?.hasError('required') && postulanteForm.get('direcc_email')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Link de Linkedin</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="text" formControlName="link_linkedin" class="form-control" />
                    <label class="form-label" for="form3Example2">https://linkedin.com/in/usuarioejemplo</label>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('link_linkedin')?.hasError('required') && postulanteForm.get('link_linkedin')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Nombre</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="text" formControlName="nombre_pila" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('nombre_pila')?.hasError('required') && postulanteForm.get('nombre_pila')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Apellidos</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="text" formControlName="apellidos" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('apellidos')?.hasError('required') && postulanteForm.get('apellidos')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>DNI</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="text" formControlName="doc_id" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('doc_id')?.hasError('required') && postulanteForm.get('doc_id')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Lugar de Residencia</p>
                </div>     
                <div class="form-group mb-2">
                    <select class="form-control" formControlName="lugar_residencia">
                      <option>Lima, Perú</option>
                      <option>Arequipa, Perú</option>
                      <option>Antioquía, Colombia</option>
                      <option>Cali, Colombia</option>
                      <option>Santiago, Chile</option>
                      <option>Valparaiso, Chile</option>
                      <option>Buenos Aires, Argentina</option>
                      <option>Córdova, Argentina</option>
                    </select>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('lugar_residencia')?.hasError('required') && postulanteForm.get('lugar_residencia')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Fecha de Nacimiento</p>
                </div>
                
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="text" formControlName="fec_nac" class="form-control" />
                    <label class="form-label" for="form3Example3">DD-MM-AAAA</label>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('fec_nac')?.hasError('required') && postulanteForm.get('fec_nac')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Sexo</p>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control" formControlName="sexo">
                      <option>Hombre</option>
                      <option>Mujer</option>
                      <option>Otro</option>
                      <option>Prefiero no decirlo</option>
                    </select>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('sexo')?.hasError('required') && postulanteForm.get('sexo')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Teléfono Móvil</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="number" formControlName="telefonomovil"
                    class="form-control" />
                    <label class="form-label" for="form3Example4">Número</label>                    
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('telefonomovil')?.hasError('required') && postulanteForm.get('telefonomovil')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Teléfono Fijo</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="number" formControlName="telefonofijo"
                    class="form-control" />
                    <label class="form-label" for="form3Example5">Número</label>                    
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('telefonofijo')?.hasError('required') && postulanteForm.get('telefonofijo')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <p>Tu foto (Solo se permiten imágenes JPG o PNG, hasta 3MB)</p>
                <div class="form-outline mb-4 form-group label-floating">
                    
                    <input type="file" formControlName="foto" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('foto')?.hasError('required') && postulanteForm.get('foto')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <p>Curriculum vitae (Solo se permiten imágenes JPG o PNG, hasta 3MB)</p>
                <div class="form-outline mb-4 form-group label-floating">
                    <input type="file" formControlName="curriculum_vitae" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('curriculum_vitae')?.hasError('required') && postulanteForm.get('curriculum_vitae')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-4">
                    <p style="font-size: 24px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
                        class="mb-0 text-center">
                        <strong>DATOS ACADÉMICOS</strong>
                    </p>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Situación Laboral Actual</p>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control" formControlName="situacion_laboral_actual" >
                      <option>En plantilla</option>
                      <option>Freelance</option>
                      <option>En plantilla, mañanas</option>
                      <option>En plantilla, tardes</option>
                      <option>Freelance, mañanas</option>
                      <option>Freelance, tardes</option>
                      <option>Freelance, indistinto</option>
                      <option>Desempleado, más de 2 años</option>
                      <option>Desempleado, de 1 a 2 años</option>
                      <option>Desempleado, de 6 a 11 meses</option>
                      <option>Desempleado, de 1 a 6 meses</option>
                    </select>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('situacion_laboral_actual')?.hasError('required') && postulanteForm.get('situacion_laboral_actual')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Tipo de Contrato deseado</p>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control" formControlName="tipo_contrato_deseado" >
                      <option>En plantilla</option>
                      <option>Freelance</option>
                    </select>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('tipo_contrato_deseado')?.hasError('required') && postulanteForm.get('tipo_contrato_deseado')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Movilidad</p>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control" formControlName="movilidad">
                      <option>Misma provincia igual a residencia</option>
                      <option>Provincia del mismo país</option>
                      <option>Provincia fuera del país</option>
                      <option>Cualquier país de América</option>
                      <option>Indiferente</option>
                    </select>
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('movilidad')?.hasError('required') && postulanteForm.get('movilidad')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-4">
                    <p style="font-size: 24px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
                        class="mb-0 text-center">
                        <strong>EXPERIENCIA LABORAL</strong>
                    </p>
                </div>
                
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Posiciones Online/Digital ejercidas</p>
                </div>
                <div class="row">
                    <div class="form-group col-6 mb-2">
                        <select class="form-control" formControlName="posicion_digital" >
                          <option>Digital manager</option>
                          <option>Product owner</option>
                          <option>Seo manager</option>
                          <option>Copywriter</option>
                          <option>Web developer & designer</option>
                        </select>
                        <div class="text-danger"
                *ngIf="postulanteForm.get('posicion_digital')?.hasError('required') && postulanteForm.get('posicion_digital')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                    </div>
                    <div class="form-group row col-6 mb-2">
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <p class="mb-0 ">¿Cuánto tiempo?</p>
                        </div>
                        <div class="col">
                            <select class="form-control" formControlName="tiempo_posicion_digital">
                                <option>Sin especificar</option>
                                <option>Más de 4 años</option>
                                <option>De 2 a 3 años</option>
                                <option>De 1 a 2 años</option>
                                <option>Menos de 1 año</option>
                              </select>
                              
                        </div>
                        <div class="text-danger"
                *ngIf="postulanteForm.get('tiempo_posicion_digital')?.hasError('required') && postulanteForm.get('tiempo_posicion_digital')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                        
                    </div>
                </div>
                
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Experiencia en sector Online/Digital</p>
                </div>
                <div class="row">
                    <div class="form-group col-6 mb-2">
                        <select class="form-control" formControlName="experiencia_laboral">
                          <option>Comercio y Servicios</option>
                          <option>Construccion inmobiliarias</option>
                          <option>Deportes y ocio</option>
                          <option>Alimentación y bebidasr</option>
                          <option>Educación y Enseñanza</option>
                        </select>
                        <div class="text-danger"
                *ngIf="postulanteForm.get('experiencia_laboral')?.hasError('required') && postulanteForm.get('experiencia_laboral')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                    </div>
                    
                    <div class="form-group row col-6 mb-2">
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <p class="mb-0 ">¿Cuánto tiempo?</p>
                        </div>
                        <div class="col">
                            <select class="form-control" formControlName="tiempo_experiencia_laboral">
                                <option>Sin especificar</option>
                                <option>Más de 4 años</option>
                                <option>De 2 a 3 años</option>
                                <option>De 1 a 2 años</option>
                                <option>Menos de 1 año</option>
                              </select>
                        </div>
                        <div class="text-danger"
                *ngIf="postulanteForm.get('tiempo_experiencia_laboral')?.hasError('required') && postulanteForm.get('tiempo_experiencia_laboral')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                    </div>
                    
                </div>
                <div class="row mb-4">
                    <p style="font-size: 24px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
                        class="mb-0 text-center">
                        <strong>SEGURIDAD</strong>  
                    </p>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Nombre de Usuario</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="text" formControlName="nombre_usuario" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('nombre_usuario')?.hasError('required') && postulanteForm.get('nombre_usuario')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Contraseña</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="password" formControlName="password" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('contraseña')?.hasError('required') && postulanteForm.get('contraseña')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row mb-0 d-flex justify-content-start">
                    <p>Confirmar contraseña</p>
                </div>
                <div class="form-outline mb-2 form-group label-floating">
                    <input type="password" formControlName="confirmarpassword" class="form-control" />
                </div>
                <div class="text-danger"
                *ngIf="postulanteForm.get('confirmarcontraseña')?.hasError('required') && postulanteForm.get('confirmarcontraseña')?.touched">
                    <span>Este campo es <strong>obligatorio</strong></span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2 ">
                        <div class="row justify-content-center">
                            <button  type="submit" [disabled]="postulanteForm.invalid" style="background-color: rgba(38, 168, 223, 1)" class="btn btn-primary btn-block mb-4">
                                Enviar
                            </button>
                        </div>
                    </div>
                    
                </div>
            </form>
        
       
        <!--Section: Content-->
    </div>
</main>

<!--Footer-->
<footer class="bg-light text-lg-start">
    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p style="font-size: large;">Síguenos en nuestras Redes Sociales</p>
        <a style="background-color: rgba(0, 172, 233, 1);" href="https://www.facebook.com/" class="btn btn-primary m-1"
            role="button" rel="nofollow" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a style="background-color: rgb(11, 160, 18);"
            href="https://api.whatsapp.com/send?phone=+51967887020&text=Hola,%20deseo%20saber%20más%20de%20sus%20servicios."
            class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a style="background-color: rgb(105, 168, 219);"
            href="https://www.linkedin.com/company/corporativa-grafimar/about/?viewAsMember=true"
            class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(61, 139, 202, 0.8); color: white">
        © 2021 Copyright:
        <a class="text-white" style="color: white;" href="https://corporativagrafimar.com/"><strong>4Data Recruitment &
                Selection</strong></a>
    </div>
    <!-- Copyright -->
</footer>