<div class="container">
    <!--Section: Content-->
    <section >
        <div class="row mt-4">
            <p style="font-size: 45px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
            class="mb-5 text-center ">
                <strong>Bienvenido {{profile.nombre_pila}} {{profile.apellidos}}</strong>
            </p>
        </div>
        <div class="row">
            <div class="row">
                <p class="h2"><strong>INFORMACIÓN BÁSICA</strong></p>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Foto</p>
                </div>
                <div class="col-8">
                    <a>
                        <span>Añade una foto para personalizar tu cuenta</span>
                    </a>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Nombres</p>
                </div>
                <div class="col-8">
                    <p>{{profile.nombre_pila}}</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Apellidos</p>
                </div>
                <div class="col-8">
                    <p>{{profile.apellidos}}</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Sexo</p>
                </div>
                <div class="col-8">
                    <p>{{profile.sexo}}</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Fecha de nacimiento</p>
                </div>
                <div class="col-8">
                    <p>{{fechanac}}</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <p class="h2"><strong>INFORMACIÓN DE CONTACTO</strong></p>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Correo Electrónico</p>
                </div>
                <div class="col-8">
                    <p>{{profile.direcc_email}}</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Link de Linkedin</p>
                </div>
                <div class="col-8">
                    <p>{{profile.link_linkedin}}</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Lugar de Residencia</p>
                </div>
                <div class="col-8">
                    <p>{{profile.ciudad}}</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Teléfono Móvil</p>
                </div>
                <div class="col-8">
                    <p>Añadir</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Teléfono fijo</p>
                </div>
                <div class="col-8">
                    <p>Añadir</p>
                </div>
                <div class="col-1">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
        </div>
        
        
        

    </section>
</div>