<div class="container">
    <div class="row">
        <section>
            <div class="row">
                <p style="color: #64C7CC;">
                    <font size="10"><b>Fases de Selección</b></font>
                </p>
            </div>
            <div class="row">
                <p>
                    <font size="4">Registra, informate, capacitate, trabaja</font>
                </p>
            </div>
            <section>
                <div class="row ">
                    <section class="menu-list">
                        <div class="hexagon item-1"><a href="#" class="label" routerLink="verificaciondecv">Verificacion de CV</a></div>
                        <div class="hexagon item-2"><a href="#" class="label" routerLink="testconocimientos">Test de conocimientos</a></div>
                        <div class="hexagon item-3"><a href="#" class="label" routerLink="competenciaslaborales">Competencias Laborales</a></div>
                        <div class="hexagon item-4"><a href="#" class="label" routerLink="pruebapsicologica">Pruebas Psicológicas</a></div>
                        <div class="hexagon item-5"><a href="#" class="label" routerLink="examenmedico">Examen Medico</a></div>
                        <div class="hexagon item-6"><a href="#" class="label" routerLink="entrevistafinal">Entrevista Final</a></div>
                        <div class="hexagon item-7"><a href="#" class="label" routerLink="contratacion">Contratacion</a></div>
                    </section>
                </div>
            </section>
        </section>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>